    /* GLOBAL AND MOBILE STYLES FIRST */
@import url('https://fonts.googleapis.com/css?family=Orbitron');
*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
}

/* Animated Page Header Positioning */
.loader{
    position: absolute;
    top:4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Animated Page Header Styling */
.loader h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 4em;
    color: rgba(255,255,255,.1);
    background-image:url('../images/plane.jpg');
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite
}

/* Animated Page Header Animation */
@keyframes animate
{
    0%
    {
        background-position: left 0 top 80px;
    }
    40%{
        background-position: left 800px top -50px;
    }
    80%{
        background-position: left 1800x top -50px;
    }
    100%{
        background-position: left 2400px top 80px;
    }
}

/* Dubai YouTube Video */ 
.dubai360 {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

/* Dubai YouTube Video iFrame */ 
.dubai360 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*Index Page Body Styling*/
body{
    background-image:url('../images/background.png');
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    line-height: 1.5;
    font-family: 'Abel', sans-serif;
    font-size: 90%;
    text-align: left;
}
/* Background Text Color Styling */
.btext{
    color:white;
}

/* Index Page Content Box Heading Hyperlinks */
a{
    text-decoration: none;
}

/* Hyperlink Visited Color */
a:link, a:visited {
color: firebrick;
}

/* Hyperlink Visited Color */
a:hover, a:active {
    color: peachpuff;
}

/* Navigation Bar */
nav{
    text-align: center;
}

/* Website Logo */
.mainHeader img {
    position: static;
    left: 0px;
    width: 10%;
    height: auto;
    margin: 10px;
}

/* Main Section of Navigation Bar Positioning */
.menu{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

/* Main Menu Navigation Bar Styling */
.menu > li {
    float: left;
    text-align: center;
    color: firebrick;
    width: 87.5px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0,0,0, 0.7);
    cursor: pointer;
    font-size: 15px;
    border-radius: 30px;
}

/* Sub Section of Navigation Bar Positioning */
.sub-menu{
    transform: scale(0);
    transform-origin: top center;
    transition: all 500ms ease-in-out;
}

/* Sub Menu Navigation Bar Styling */
.sub-menu li{
    float: left;
    text-align: center;
    color: firebrick;
    width: 87.5px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0,0,0, 0.7);
    cursor: pointer;
    font-size: 14px;
    border-radius: 30px;
    padding: 4px 0;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
    /* display: none; */
    transform: scale(0);
    transform-origin: top center;
    transition: all 400ms ease-in-out;
    border-radius: 30px;
}

/* Sub Menu Navigation Bar Last Item Styling */
.sub-menu li:last-child{
    border-bottom: 1px;
}

/* Sub Menu Navigation Bar Hover */
.sub-menu li:hover{
    background-color: black
}

/* Main Menu Navigation Bar Hover */
.menu > li:hover .sub-menu
li{
    /* display: block;*/
    transform: scale(1);
}

.menu > li:hover .sub-menu {
    transform: scale(1);
}

/* Main Content Box Styling */
.mainContent{
    width: 90%;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 5px;
    padding:2%;
    margin: 3% 100% 1% 5%;
}

/* Second Main Content Box Styling */
.topcontent {
    width: 90%;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 5px;
    padding:2%;
    margin: 3% 100% 1% 5%;
    
/* Sliderbox Container */ 
}
.container{
    width: 300px;
    overflow: hidden;

}

/* Sliderbox */ 
.sliderbox{
    position: relative;
    width: 200px;
    animation-name: slideranimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

/* Sliderbox Image */ 
.sliderbox img{
    float: left;
}

/* Bottom Left Content Box Styling */
.middle-sidebar {
    width: 90%;
    float: center;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 5px;
    margin: 3% 0 2% 5%;
    padding:2% 3%;
}

/* Bottom Centre Content Box Styling */
.bottom-sidebar {
    width: 90%;
    float: left;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 5px;
    margin: 3% 0 2% 5%;
    padding: 2% 3%;
}

/* Bottom Right Content Box Styling */
.bottom-sidebar2 {
    width: 90%;
    float: left;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 5px;
    margin: 3% 0 2% 5%;
    padding: 2% 3%;
}
/* Content Box Post Information Text Styling */
.post-info{
    font-style: italic;
    color: #999;
    font-size: 85%;
}
/* Google Map API Styling */
#map {
  height: 400px;
  width: 100%;
}

/* Contact Us Page Style inputs with type="text" */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Padding and width in place */
    margin-top: 6px; /* Top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* User able to vertically resize the textarea, not horizontally */
}

/* Contact Us Page Style, Submit button with specific background color */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Contact Us Page, Hovering mouse over the submit button color changed to darker green */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Contact Us Page, Floral white background color with padding around the form 20px */
.container {
    border-radius: 5px;
    background-color:floralwhite;
    padding: 20px;
}

/* Contact Form Font Color */
.contactform{
    color: white;
}

/* Image styling used to trigger modal */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    height: auto;
}

#myImg:hover {opacity: 0.3;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 15px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 1s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    width: 100%;
    }

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.container img {margin-bottom: -5px}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 7px;
}

.berlincontainer{
    width: auto;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.berlincontainer img {margin-bottom: -5px}

.berlincontainer .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 7px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 1000px) {
    .side, .middle {
        width: 100%;
    }

}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.Tower{
    width: 50%;
    height: 50%;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: all 1.5s ease-in;
}

.Tower:hover img{
    transform: scale(1.8);
    transition: all 1.5s ease-in;
    filter: brightness(1.25);
}

.footer{
    text-align: center;
}

.slideshow {
  /* set the positioning context for the images */
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: 448px;
}

.slideshow img {
  /* Images positioned on top of each other: */
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: round 21s infinite;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

img:nth-child(1) { animation-delay: 21s; }
img:nth-child(2) { animation-delay: 14s; }
img:nth-child(3) { animation-delay: 7s; }
img:nth-child(4) { animation-delay: 0s; }

/* Magnifying Image */
* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}
.d5{
    height 100%;
    width: 100%;
}

.d4{
    height 100%;
    width: 100%;
}

.bg1{
    width: 100%;
}

.bg2{
    width: 100%;
}

.bg3{
    width: 100%;
}

.bg4{
    width: 100%;
}

.s1{
    width:100%;
}

.s2{
    width:100%;
}

.s3{
    width:100%;
}

.s4{
    width:100%;
}

.s5{
    width:100%;
}

.s6{
    width:100%;
}

.f1{
    width:100%;
}

.f2{
    width:100%;
}

.f3{
    width:100%;
}


.f4{
    width:100%;
}

.f5{
    width:100%;
}

.f6{
    width:100%;
}

.romevideo{
    width:100%;
}
.iframe{
    width=100%; 
    height=100%; 
    border: 0;
}

.BerlinTower{
    height: 100%;
    width:100%;
}
/* JS Show Hide Text */
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
#jsshowhide p {
  display: none;
}
#jsshowhide h3 {
  cursor: pointer;
  display: inline;
}
.plus {
  display: inline;
}
.minus {
  display: none;
}

.slideshow-container{
    width=100%;
}

/* FIRST BREAKPOINT (SMALL SIZE) */
@media only screen and (min-width: 750px){

    body{
    background-image:url('../images/background.png');
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    line-height: 1.5;
    font-family: 'Abel', sans-serif;
    font-size: 110%;
    text-align: left;
}

  /* Main Menu Navigation Bar Styling */
.menu > li {
    float: left;
    text-align: center;
    color: firebrick;
    width: 165px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(0,0,0, 0.7);
    cursor: pointer;
    font-size: 18px;
    border-radius: 30px;
}
 /* Sub Menu Navigation Bar Styling */
.sub-menu li{
    float: left;
    text-align: center;
    color: firebrick;
    width: 165px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0,0,0, 0.7);
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    padding: 4px 0;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
    /* display: none; */
    transform: scale(0);
    transform-origin: top center;
    transition: all 400ms ease-in-out;
    border-radius: 30px;
}
/* Animated Page Header Positioning */
.loader{
    position: absolute;
    top:5.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Animated Page Header Styling */
.loader h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 4.5em;
    color: rgba(255,255,255,.1);
    background-image:url('../images/plane.jpg');
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite
}

/* Animated Page Header Animation */
@keyframes animate
{
   0%
    {
        background-position: left 0 top 80px;
    }
    40%{
        background-position: left 800px top -50px;
    }
    80%{
        background-position: left 1800x top -50px;
    }
    100%{
        background-position: left 2400px top 80px;

}
}

    /* SECOND BREAKPOINT (LARGE SIZE) */
@media only screen and (min-width: 1000px){

    body{
    background-image:url('../images/background.png');
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    line-height: 1.5;
    font-family: 'Abel', sans-serif;
    font-size: 130%;
    text-align: left;
}

/* Main Menu Navigation Bar Styling */
.menu > li {
    float: left;
    text-align: center;
    color: firebrick;
    width: 223px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(0,0,0, 0.7);
    cursor: pointer;
    font-size: 20px;
    border-radius: 30px;
}
 /* Sub Menu Navigation Bar Styling */
.sub-menu li{
    float: left;
    text-align: center;
    color: firebrick;
    width: 223px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(0,0,0, 0.7);
    cursor: pointer;
    font-size: 20px;
    border-radius: 30px;
    padding: 4px 0;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
    /* display: none; */
    transform: scale(0);
    transform-origin: top center;
    transition: all 400ms ease-in-out;
    border-radius: 30px;
}

    /* Animated Page Header Positioning */
.loader{
    position: absolute;
    top:8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Animated Page Header Styling */
.loader h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 6em;
    color: rgba(255,255,255,.1);
    background-image:url('../images/plane.jpg');
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite
}

/* Animated Page Header Animation */
@keyframes animate
{
    0%
    {
        background-position: left 0 top 80px;
    }
    40%{
        background-position: left 800px top -50px;
    }
    80%{
        background-position: left 1800x top -50px;
    }
    100%{
        background-position: left 2400px top 80px;

}





}
